/* ===== Global ===== */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

/* เว้นระยะ section */
.section {
  padding: 80px 0;
}

/* ===== Navbar ===== */
.navbar {
  background-color: #58099c;
}

/* ===== About ===== */
#about img {
  border-radius: 12px;
}
#about {
    background-color: #7892ab;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* ===== Activity / Card ===== */
.card {
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

}
#activity img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
}
#activity {
    background-color: #7892ab;
}

/* ===== Links ===== */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .section {
    padding: 60px 20px;
  }
}
